@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700&family=Open+Sans:wght@400;700;800&family=Poppins:wght@500;600;700&family=Work+Sans:wght@400;500;600;700;800&display=swap');




/* common shared style */

* {
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Work Sans', sans-serif;
}



.text-primary {
    color: fuchsia;
}

.btn-primary {
    border-radius: 48px;
    color: #FFF;
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    padding: 20px 40px;
    border: none;
    gap: 10px;
    color: #FFF;
    font-size: 1.25rem;
    font-weight: 600;
    text-transform: uppercase;

}

/* header styles */

header {
    width: 1920px;
    height: 130px;
    padding: 30px 240px 30px 240px;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);

}

.btn-secondary {
    border-radius: 48px;
    background: #4EC5F7;
    padding: 21px 40px;
    gap: 10px;
    border: none;
    color: #FFF;
    font-size: 1.25rem;
    font-weight: 600;
    text-transform: uppercase;
}


/* nav related style */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;


}

.nav-title {
    color: #0B0223;
    font-size: 3rem;
    font-weight: 700;
}

nav>ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    margin-right: 40px;
    font-size: 1.2rem;
    color: #3C354F;
    font-weight: 500;

}

nav li a {
    text-decoration: none;
    color: #3C354F;

}

.nav-title {
    font-size: 45px;
    font-weight: 700;
    /* background: url("../images/Frame.png"), lightgray 50% / cover no-repeat; */
}

.nav-button {
    width: 262px;
    height: 56px;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    border: none;

}

/* banner styles */

.banner {
    display: flex;
    width: 1920px;
    height: 5927px;
}

.banner-title {
    color: #0B0223;
    font-size: 3rem;
    font-weight: 600;
    text-transform: uppercase;
}

.banner-description {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 95px;
    font-weight: 800;

}

.banner-content {
    width: 901px;
    height: 700px;
}



/* main styles */

main {
    max-width: 1920px;
    margin: 0 auto;
}

/* gamer section styles */

.gamer-section {
    display: flex;
    margin-top: 800px;

}

.gamer-section-image {
    width: 868px;
    height: 489px;
}

.gamer-title {
    font-size: 3rem;
    font-weight: 700;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.gamer-content {
    padding-left: 100px;
}

.gamer-description {
    color: #534C64;
    width: 520px;
}

.gamer-last-line {
    color: #534C64;
    font-size: 24px;
    font-weight: 500;
    width: 520px;
}

/* online games section styles */

.online-games-container {
    display: flex;
    flex-direction: column;
    text-align: center;

}

.online-games-headline {
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 0;
    margin-right: 200px;


}

.online-games-description {
    color: #534C64;
    text-align: center;
    font-size: 1.35rem;
    font-weight: 400;
    margin-top: 0;
}

.online-games-img-container {
    display: flex;
    gap: 1.5rem;
    padding-left: 100px;
}

.online-games-img-description {
    display: flex;
    gap: 2.5rem;
    color: #534C64;
    font-size: 20px;
    font-weight: 500;
    padding-left: 100px;
}

/* no download section styles */

.No-download-container {
    margin-top: 100px;
    display: flex;
    gap: 20px;
    align-items: center;
}

.no-download-content {
    padding-left: 300px;
}

.no-download-title {
    font-size: 3rem;
    font-weight: 700;

}

.no-download-description {
    color: #534C64;
    font-size: 1.25rem;
    font-weight: 400;
    width: 353px
}

.no-download-img2 {
    width: 318.5px;
    height: 365.083px;
    border-radius: 8px;
    border: 10px solid #FFF;
    position: relative;
    top: 300px;
    left: 300px;
}

/* play games section styles */

.play-games-container {
    margin-top: 250px;
    display: flex;
    align-items: center;
}

.play-games-img {
    width: 710px;
    height: 650px;
    border-radius: 8px;
}

.play-games-img2 {
    width: 318px;
    height: 365px;
    border-radius: 8px;
    border: 10px solid #FFF;
    position: relative;
    top: 200px;
    right: 250px;

}

.play-games-title {
    font-size: 48px;
    font-weight: 700;
}

.play-games-description {
    color: #534C64;
    font-size: 1.25rem;
    font-weight: 400;

}

/* career section styles */

.career-container {
    background-color: #F948B2;
    margin-top: 100px;
display: flex;
    height: 821px;
}

.career-title {
    color: #FFF;
    font-size: 3rem;
    font-weight: 700;
    padding: 50px 200px;
}

.career-description {
    color: #FFF;
    font-size: 1.25rem;
    font-weight: 400;
    padding-left: 200px;
}

.career-btn {
    display: flex;
    margin-left: 200px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 48px;
    background: #FFF;
    border: none;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
}

.career-card{
    color: #FFF;
font-size: 20px;
font-weight: 600;
margin-top: 200px;
}
.card-container{
   margin-top: 200px;
display: flex;
    gap: 40px;
height: 80px;
border-radius: 50px;
background: #FFF;
}

.footer-container{
    margin: 200px;
 background: #0B0223;
 height: 636px;
 text-decoration: #FFF;
}
.footer-title{
    text-align: center;
font-size: 2.75rem;
font-weight: 700;
color: #FFF;
font-size: 2.75rem;
font-weight: 700;
padding: 100px;
}

.footer-description{
    color: #FFF;
    font-size: 1.25rem;
    font-weight: 600;
    display: flex;
    gap: 100px;
margin-left: 700px;
}

.footer-logo{
    color: #FFFFFF;
display:flex;
margin-top: 50px;
margin-left: 700px;
gap: 100px;

}